# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Llvm
*.bc
*.bc_exe

# Project
Queue/*
*.xml
Square/*
ConvertToBin/*
Pong/*
*.vm
Seven/*
Average/*
ComplexArrays/*
